In [1]:
import plotly.express as px
import pandas as pd
df=pd.read_csv(r"C:\Users\Hedi\Downloads\logistic_regression_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   sex              4238 non-null   object
 4   is_smoking       4238 non-null   object
 5   cigsPerDay       4209 non-null   float64
 6   BPMeds           4185 non-null   float64
 7   prevalentStroke  4238 non-null   int64
 8   prevalentHyp     4238 non-null   int64
 9   diabetes         4238 non-null   int64
 10  totChol          4188 non-null   float64
 11  sysBP            4238 non-null   float64
 12  diaBP            4238 non-null   float64
 13  BMI              4219 non-null   float64
 14  heartRate        4237 non-null   float64
 15  glucose          3850 non-null   float64
 16  TenYearCHD       3390 non-null   float64
dtypes: float64(10), int64(5), object(2)
memory usage: 563.0+ KB

In [2]:
df.head()

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1.0
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0.0
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0.0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1.0
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0.0

In [3]:
df.isnull().sum()

id                   0
age                  0
education          105
sex                  0
is_smoking           0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD         848
dtype: int64

In [9]:
df["education"].fillna(df["education"].mean(),inplace=True)

In [10]:
df["cigsPerDay"].fillna(df["cigsPerDay"].mean(),inplace=True)

In [11]:
df["BPMeds"].fillna(df["BPMeds"].mean(),inplace=True)

In [12]:
df["totChol"].fillna(df["totChol"].mean(),inplace=True)

In [13]:
df["BMI"].fillna(df["BMI"].mean(),inplace=True)
df["heartRate"].fillna(df["heartRate"].mean(),inplace=True)
df["glucose"].fillna(df["glucose"].mean(),inplace=True)
df["TenYearCHD"].fillna(df["TenYearCHD"].mean(),inplace=True)

In [14]:
df.isnull().sum()

id                 0
age                0
education          0
sex                0
is_smoking         0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [27]:
#preparing data for logistic regression
df["is_smoking"]=df["is_smoking"].map({"yes": 1, "no": 0})   #convert admitted variable into numerical
df.head()
df["TenYearCHD"]=df["TenYearCHD"].astype(int)
df.head()

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,aTenYearCHD
0,0,64,2.0,F,NaN,3.0,0.0,0,0,0,221.0,148.0,85.0,25.802008,90.0,80.0,1,NaN
1,1,36,4.0,M,NaN,0.0,0.0,0,1,0,212.0,168.0,98.0,29.770000,72.0,75.0,0,NaN
2,2,46,1.0,F,NaN,10.0,0.0,0,0,0,250.0,116.0,71.0,20.350000,88.0,94.0,0,NaN
3,3,50,1.0,M,NaN,20.0,0.0,0,1,0,233.0,158.0,88.0,28.260000,68.0,94.0,1,NaN
4,4,64,1.0,F,NaN,30.0,0.0,0,0,0,241.0,136.5,85.0,26.420000,70.0,77.0,0,NaN

In [26]:
#import relevant libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

#features extraction
x = df[["glucose","age","diabetes","prevalentHyp","sysBP","diaBP"]]
y = df['TenYearCHD']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)  #splitting data with test size of 25%

logreg = LogisticRegression()   #build our logistic model
logreg.fit(x_train, y_train)  #fitting training data
y_pred  = logreg.predict(x_test)    #testing modelâ€™s performance
print("Accuracy={:.2f}".format(logreg.score(x_test, y_test)))

Accuracy=0.87

In [13]:
confusion_matrix=pd.crosstab(y_test, y_pred, rownames=["Actual"], colnames["Predicted"])
sns.heatmap(confusion_matrix,annot=True)

SyntaxError: positional argument follows keyword argument (1234798064.py, line 1)

In [16]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Hedi\Downloads\logistic_regression_dataset.csv")
x=df[["glucose","age","diabetes","prevalentHyp","sysBP","diaBP"]]
y=df['TenYearCHD']
x_train,x_test,y_train=train_test_split(x,y,test_size=0.3,random_state=0)
log_regression=logisticRegression()
log_regression.fit(x_train,y_train)
y_pred_proba=log_regression_predict_proba(x_test)
fpr, tpr,_=matrics.roc_curva(y_test, y_pred_proba)
plt.plot(fpr,tpr)
plt.ylabel("true positive rate")
plt.xlabel("false positive rate")
plt.sh

NameError: name 'train_test_split' is not defined